.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Container {
  background-color: White;
  display: grid;
  grid-template-columns: auto 50vh auto;
  grid-template-rows: auto 50vh auto;
  height: 100vh;
  width: 100vw;
}
.NavBar {
  grid-column-start: 2;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto 190px auto;
}

.Button {
  height: 45px;
  grid-row-start: 2;
}
.NameChange {
  grid-column-start: 1;
}
.ColorChange {
  grid-column-start: 3;
}
.UserName {
  grid-column-start: 2;
  grid-row-start: 2;
}

.Floor {
  background-color: grey;
  grid-column-start: 2;
  grid-row-start: 2;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 33.3% 33.3% 33.3%;
  padding: 1%;
}
.Room {
  background-color: rgb(128, 94, 43);
  color: cornsilk;
  size: 100%;
  margin: 5%;
  text-align: center;
}

.Number1 {
  grid-column-start: 1;
  grid-row-start: 1;
}
.Number2 {
  grid-column-start: 2;
  grid-row-start: 1;
}
.Number3 {
  grid-column-start: 3;
  grid-row-start: 1;
}
.Number4 {
  grid-column-start: 1;
  grid-row-start: 2;
}
.Number5 {
  grid-column-start: 2;
  grid-row-start: 2;
}
.Number6 {
  grid-column-start: 3;
  grid-row-start: 2;
}
.Number7 {
  grid-column-start: 1;
  grid-row-start: 3;
}
.Number8 {
  grid-column-start: 2;
  grid-row-start: 3;
}
.Number9 {
  grid-column-start: 3;
  grid-row-start: 3;
}

.modal-dialog.modal-customWidth {
  width: 835px;
  max-width: 900px;
}

.modal-body.ColorPicker {
  display: flex;
}
.Color {
  font-size: 18px;
  padding-top: 6px;
  text-align: center;
  margin: 1%;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  font-weight: bold;
  box-shadow: inset 0 0 15px #333;
}

.Color.Red {
  background-color: rgb(201, 31, 31);
  color: white;
}
.Color.Red:hover {
  background-color: rgb(155, 25, 25);
}
.Color.Orange {
  background-color: rgb(216, 113, 17);
  color: white;
}
.Color.Orange:hover {
  background-color: rgb(155, 80, 11);
}
.Color.Yellow {
  background-color: rgb(224, 221, 13);
  color: black;
}
.Color.Yellow:hover {
  background-color: rgb(187, 184, 9);
}
.Color.Green {
  background-color: rgb(45, 204, 45);
  color: black;
}
.Color.Green:hover {
  background-color: rgb(34, 156, 34);
}
.Color.Teal {
  background-color: rgb(24, 197, 209);
  color: black;
}
.Color.Teal:hover {
  background-color: rgb(17, 149, 158);
}
.Color.Blue {
  background-color: rgb(11, 51, 230);
  color: white;
}
.Color.Blue:hover {
  background-color: rgb(6, 34, 156);
}
.Color.Black {
  background-color: black;
  color: white;
}
.Color.Black:hover {
  background-color: rgb(68, 68, 68);
}
.Color.White {
  background-color: white;
  color: Black;
}
.Color.White:hover {
  background-color: rgb(196, 196, 196);
}

.Avatar {
  width: 30%;
  height: 30%;

  position: relative;
  top: 30%;
  left: 35%;

  font-size: 18px;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  box-shadow: inset 0 0 15px #333;
  padding-top: 4%;
}

.RoomTitle {
  height: 24px;
}
